aside {
  display: flex;
  align-items: center;
}
aside::before {
  content: "";
  display: block;
  height: 200px;
  width: 1px;
  background: black;
  margin-right: 10px;
}
aside .aside-links {
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
aside .aside-links a {
  display: block;
  color: #005B60;
  font-weight: normal;
}

section#home {
  min-height: 95vh;
}
section#home .text-content {
  max-width: 490px;
}
section#home aside {
  margin-top: 50px;
}
section#home .learnmore {
  display: none;
}

section#about .text-content {
  max-width: 540px;
}
section#about .readmore {
  color: #005B60;
}
section#about .readmore img {
  margin-left: 20px;
  transition: transform 200ms ease-out;
}
section#about .readmore::before {
  content: "Read more";
}
section#about .blurb span {
  display: none;
}
section#about .text-content.open .readmore::before {
  content: "Hide";
}
section#about .text-content.open .blurb span {
  display: inline;
}
section#about .text-content.open .readmore img {
  transform: rotate(180deg);
}
section#about .view-content img {
  max-width: 400px;
}

section#services .text-content {
  max-width: 520px;
}
section#services .view-content img {
  max-width: 400px;
}
section#services .blurb {
  margin-top: 50px;
}
section#services .blurb .small {
  display: flex;
  align-items: center;
}
section#services .blurb .small img {
  margin-right: 20px;
}
section#services .blurb .small:nth-child(2) {
  margin: 20px 0;
}

section#insurance .insurance-list {
  margin-top: 25px;
}
section#insurance .insurance-list:nth-child(2) {
  margin-bottom: 50px;
}
section#insurance .insurance-list-entry > .small {
  display: flex;
  align-items: center;
  cursor: pointer;
}
section#insurance .insurance-list-entry > .small img {
  margin-right: 20px;
  transition: transform 200ms ease-out;
}
section#insurance .insurance-list-entry .insurance-list-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}
section#insurance .insurance-list-entry .insurance-list-wrapper::before {
  content: "";
  display: block;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  width: 1px;
  background: #005B60;
  margin-right: 10px;
  margin-left: 5px;
  transition: transform 300ms ease-in-out 100ms;
}
section#insurance .insurance-list-entry .insurance-list-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 0;
  transition: height 200ms ease-out;
}
section#insurance .insurance-list-entry .insurance-list-wrapper ul > .small {
  font-weight: lighter;
}
section#insurance .insurance-list-entry.open > .small img {
  transform: rotate(180deg);
}
section#insurance .insurance-list-entry.open .insurance-list-wrapper::before {
  height: 250px;
  transform: scaleY(1);
}
section#insurance .insurance-list-entry.open .insurance-list-wrapper ul {
  height: 250px;
  margin-bottom: 20px;
}
section#insurance .insurance-list.optical .insurance-list-entry.open .insurance-list-wrapper::before, section#insurance .insurance-list.optical .insurance-list-entry.open .insurance-list-wrapper ul {
  height: 175px;
}

section#frames .text-content {
  max-width: 485px;
}

section#contactlenses .text-content {
  max-width: 515px;
}

section#orthok .text-content {
  max-width: 460px;
}

section#directions .content {
  max-width: 1000px;
}
section#directions .content:nth-child(1) {
  margin-bottom: 80px;
}
section#directions .content:nth-child(1) .view-content .small {
  display: flex;
  align-items: center;
  max-width: 435px;
}
section#directions .content:nth-child(1) .view-content .small img {
  margin-right: 20px;
}
section#directions .content:nth-child(1) .view-content .small:nth-child(2) {
  margin: 50px 0;
}
section#directions .content:nth-child(1) img {
  width: 30px;
}

section#end .content {
  max-width: 600px;
}
section#end .content .title {
  white-space: nowrap;
}

@media screen and (min-width: 515px) {
  .home-temp-nav-group {
    display: flex;
  }

  aside {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .order1 .text-content {
    order: 1;
  }
  .order1 .view-content {
    order: 2;
  }

  .order2 .text-content {
    order: 2;
  }
  .order2 .view-content {
    order: 1;
  }

  main .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 50px;
  }
  main .view-content {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  section#home .learnmore {
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: #005B60;
    font-weight: normal;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#home .learnmore img {
    margin-top: 5px;
    transition: transform 200ms ease-out;
  }
  section#home .learnmore:hover img {
    transform: translateY(5px);
  }

  section#about p.blurb span {
    display: inline;
  }
  section#about .btn-group {
    display: none;
  }

  section#insurance .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section#insurance .content .insurance-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
  }
  section#insurance .content .insurance-list:nth-child(2) {
    margin-bottom: 100px;
  }
  section#insurance .content .insurance-list.optical {
    justify-content: center;
  }
  section#insurance .content .insurance-list-entry > .small {
    cursor: default;
    pointer-events: none;
  }
  section#insurance .content .insurance-list-entry .insurance-list-wrapper::before {
    height: 250px;
    transform: scaleY(1);
  }
  section#insurance .content .insurance-list-entry .insurance-list-wrapper ul {
    height: 250px;
  }

  section#directions .view-content {
    flex-direction: column;
  }

  section#end .view-content {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1402px) {
  aside {
    z-index: 98;
    position: fixed;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
  aside::before {
    order: 2;
    margin-left: 10px;
    margin-right: 0;
  }
  aside .aside-links {
    align-items: flex-end;
  }
}

/*# sourceMappingURL=index.css.map */
