@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  opacity: 0;
}

.large {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  color: #005B60;
  line-height: 150%;
  font-size: 45px;
}

.medium {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  color: #005B60;
  line-height: 150%;
  font-size: 25px;
}

.small {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 175%;
}

.tiny {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.active {
  cursor: default !important;
  opacity: 0.5 !important;
  font-weight: lighter !important;
}

.dark-btn, .light-btn {
  user-select: none;
  cursor: pointer;
  width: fit-content;
  display: inline-block;
  padding: 15px 25px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.dark-btn {
  background: #005B60;
  color: white;
}

.light-btn {
  border: 1px solid #005B60;
  color: #005B60;
}

.content {
  width: 90%;
  max-width: 1200px;
}

header {
  background: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  color: white;
  font-size: 20px;
}
header .burger .line1 {
  transform: translateY(-200%);
  width: 25px;
  height: 2px;
  background: white;
}
header .burger .line2 {
  transform: translateY(200%);
  width: 25px;
  height: 2px;
  background: white;
}
header nav {
  display: none;
}

.emphasis {
  background: #005B60;
  width: 20px;
  height: 5px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
main .blurb {
  margin-top: 25px;
}
main .btn-group {
  margin-top: 50px;
}
main .img-content {
  margin-top: 50px;
  width: 100%;
}
main .img-content img {
  width: 100%;
}
main section:nth-child(odd) {
  background: #F3F9FA;
}

aside {
  display: flex;
  align-items: center;
}
aside::before {
  content: "";
  display: block;
  height: 340px;
  width: 1px;
  background: black;
  opacity: 0.5;
  margin-right: 10px;
}
aside a {
  display: block;
  color: #005B60;
  margin: 20px 0;
}

section#home aside {
  margin-top: 50px;
}

section#about .btn-group .light-btn img {
  margin-left: 10px;
}

section#services .blurb .small {
  display: flex;
  align-items: center;
}
section#services .blurb .small img {
  margin-right: 10px;
}
section#services .blurb .small:nth-child(2) {
  margin: 20px 0;
}

section#insurance .insurance-list {
  margin-top: 50px;
}
section#insurance .insurance-list-entry .title {
  display: flex;
  align-items: center;
}
section#insurance .insurance-list-entry .title img {
  margin-left: 10px;
  transition: transform 200ms ease-out;
}
section#insurance .insurance-list-entry .insurance-list-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
section#insurance .insurance-list-entry .insurance-list-wrapper::before {
  content: "";
  display: block;
  height: 0px;
  width: 1px;
  background: black;
  opacity: 0.5;
  margin-right: 10px;
  transition: height 200ms ease-out;
}
section#insurance .insurance-list-entry .insurance-list-wrapper ul {
  overflow: hidden;
  height: 0;
  transition: height 200ms ease-out;
}
section#insurance .insurance-list-entry.open .title img {
  transform: rotate(180deg);
}
section#insurance .insurance-list-entry.open .insurance-list-wrapper::before {
  height: 280px;
}
section#insurance .insurance-list-entry.open .insurance-list-wrapper ul {
  height: 280px;
}

/*# sourceMappingURL=styles.css.map */
