@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400;500&display=swap');
$dark: #005B60;
$light: #F3F9FA;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  // Undone by JS.
  opacity: 0;
}

.stretch-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.large {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  color: $dark;
  line-height: 150%;
  font-size: 45px;
}

.medium {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  color: $dark;
  line-height: 150%;
  font-size: 25px;
}

.small {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 150%;
}

.tiny {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 150%;
}
.title::before {
  content: '';
  display: block;
  width: 20px;
  height: 5px;
  background: $dark;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.active {
  cursor: default !important;
  color: rgb(134, 134, 134) !important;
  font-weight: lighter !important;
}

.dark-btn,.light-btn {
  user-select: none;
  cursor: pointer;
  padding: 15px 25px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  font-size: 20px;

  // needs browser support testing
  display: flex;
  width: max-content;
}

.dark-btn {
  background: $dark;
  color: white;
}

.light-btn {
  border: 1px solid $dark;
  color: $dark;
}

.logo {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  color: white;
  font-size: 20px;
  max-width: 80%;
}

.content {
  width: 90%;
}

header {
  z-index: 99;
  position: fixed;
  background: black;
  width: 100%;
  display: flex;
  min-height: 80px;
  justify-content: center;
  align-items: center;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .burger {
    z-index: 2;
    .line1 {
      transform: translateY(-200%);
      width: 25px;
      height: 2px;
      background: white;
    }
    .line2 {
      transform: translateY(200%);
      width: 25px;
      height: 2px;
      background: white;
    }
  }
  .info {
    display: none;
  }
  nav {
    z-index: 1;
    background: $dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    a.small {
      font-weight: lighter;
      color: white;
      font-size: min(10vw, 60px);
      display: block;
      text-align: left;
      margin-left: 10%;
      opacity: 0;
    }
  }
  nav.open {
    display: flex;
    a.small {
      animation: fadeIn 500ms ease-out forwards;
      &:nth-child(1) {
        animation-delay: 0;
      }
      &:nth-child(2) {
        animation-delay: 100ms;
      }
      &:nth-child(3) {
        animation-delay: 200ms;
      }
      &:nth-child(4) {
        animation-delay: 300ms;
      }
      &:nth-child(5) {
        animation-delay: 400ms;
      }
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  .content {
    max-width: 1200px;
  }
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
  }
  section:nth-child(1) {
    padding-top: 200px;
  }
  .text-content {
    .blurb {
      margin-top: 25px;
    }
    .btn-group {
      margin-top: 50px;
    }
  }
  .view-content {
    margin-top: 100px;
    width: 100%;
    max-width: 500px;
    img {
      width: 100%;
    }
  }
  section:nth-child(even) {
    background: $light;
  }
}

aside {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    display: block;
    height: 250px;
    width: 1px;
    background: black;
    margin-right: 10px;
  }
  .aside-links {
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    a {
      display: block;
      color: $dark;
      font-weight: normal;
    }
  }
}

section#home {
  min-height: 95vh;
  .text-content {
    max-width: 490px;
  }
  aside {
    margin-top: 50px;
  }
  .learnmore {
    display: none;
  }
}

section#about {
  .text-content {
    max-width: 540px;
  }
  .btn-group .light-btn img {
    margin-right: 20px;
    transition: transform 200ms ease-out;
  }
  .btn-group .light-btn::after {
    content: "Show more";
  }
  .blurb span {
    display: none;
  }
  .text-content.open {
    .btn-group .light-btn::after {
      content: "Show less";
    }
    .blurb span {
      display: inline;
    }
    .btn-group .light-btn img {
      transform: rotate(180deg);
    }
  }
}

section#services {
  .text-content {
    max-width: 520px;
  }
  .blurb {
    margin-top: 50px;
    .small {
      display: flex;
      align-items: center;
      img {
        margin-right: 20px;
      }
      &:nth-child(2) {
        margin: 20px 0;
      }
    }
  }
}

section#insurance {
  .insurance-list {
    margin-top: 25px;
  }
  .insurance-list:nth-child(2) {
    margin-bottom: 50px;
  }
  .insurance-list-entry {
    & > .small {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        margin-right: 20px;
        transition: transform 200ms ease-out;
      }
    }
    .insurance-list-wrapper {
      margin-top: 10px;
      display: flex;
      align-items: flex-start;
      &::before {
        content: '';
        display: block;
        height: 0;
        transform: scaleY(0);
        transform-origin: top;
        width: 1px;
        background: black;
        margin-right: 10px;
        transition: transform 300ms ease-in-out 100ms;
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        height: 0;
        transition: height 200ms ease-out;
        & > .small {
          font-weight: lighter;
        }
      }
    }
  }
  .insurance-list-entry.open {
    & > .small img {
      transform: rotate(180deg);
    }
    .insurance-list-wrapper {
      &::before {
        height: 250px;
        transform: scaleY(1);
      }
      ul {
        height: 250px;
        margin-bottom: 20px;
      }
    }
  }
  .insurance-list.optical {
    .insurance-list-entry.open .insurance-list-wrapper {
      &::before,ul {
        height: 175px;
      }
    }
  }
}

section#frames {
  .text-content {
    max-width: 485px;
  }
}

section#contactlenses {
  .text-content {
    max-width: 515px;
  }
}

section#orthok {
  .text-content {
    max-width: 460px;
  }
}
section#directions {
  .content {
    max-width: 1000px;
  }
  .content:nth-child(1) {
    margin-bottom: 80px;
    .view-content {
      .small {
        display: flex;
        align-items: center;
        max-width: 435px;
        img {
          margin-right: 20px;
        }
        &:nth-child(2) {
          margin: 50px 0;
        }
      }
    }
    img {
      width: 30px;
    }
  }
}
section#end {
  .content {
    max-width: 700px;
    .title {
      white-space: nowrap;
    }
  }
}

footer {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  .content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    a {
      color: white;
    }
  }
  .footer-info {
    width: 100%;
    margin: 40px 0;
    .tiny {
      color: white;
      display: flex;
      img {
        margin-right: 20px;
      }
    }
    .tiny:nth-child(2) {
      margin: 20px 0;
    }
  }
  .logo {
    margin-top: 10px;
  }
}


// Media queries

@media screen and (min-width: 515px) {
  .home-temp-nav-group {
    display: flex;
  }
  aside {
    margin-left: 50px;
  }
}

@media screen and (max-width: 819px) {
  body.open {
    overflow: hidden;
  }
}

@media screen and (min-width: 820px) {
  header {
    .burger {
      display: none;
    }
    nav {
      display: flex !important;
      position: static;
      background: none;
      flex-direction: row;
      justify-content: flex-end;
      width: auto;
      a.small {
        font-size: 20px;
        display: inline-block;
        margin-left: 20px;
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  footer {
    .content {
      width: 100%;
      align-items: center;
    }
    .footer-links {
      display: flex;
      justify-content: space-between;
    }
    .footer-info {
      display: flex;
      justify-content: space-between;
      .tiny:nth-child(2) {
        margin: 0 20px;
      }
    }
    .logo {
      text-align: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .order1 {
    .text-content {
      order: 1;
    }
    .view-content {
      order: 2;
    }
  }
  .order2 {
    .text-content {
      order: 2;
    }
    .view-content {
      order: 1;
    }
  }
  main {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
      grid-column-gap: 50px;
    }
    .view-content {
      margin-top: 0;
    }
  }

  section#home {
    .learnmore {
      position: absolute;
      bottom: 10px;
      left: 50%;
      color: $dark;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin-top: 5px;
      }
    }
  }

  section#insurance {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .insurance-list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 50px;
      }
      .insurance-list:nth-child(2) {
        margin-bottom: 100px;
      }
      .insurance-list.optical {
        justify-content: center;
      }
      .insurance-list-entry {
        & > .small {
          cursor: default;
          pointer-events: none;
        }
        .insurance-list-wrapper {
          &::before {
            height: 250px;
            transform: scaleY(1);
          }
          ul {
            height: 250px;
          }
        }
      }
    }
  }

  section#end {
    .view-content {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1402px) {
  header {
   .info {
      display: flex;
      .tiny {
        color: white;
        display: flex;
        img {
          margin-right: 20px;
        }
      }
      .tiny:nth-child(1) {
        margin-right: 40px;
      }
    }
  }
  aside {
    z-index: 98;
    position: fixed;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    &::before {
      order: 2;
      margin-left: 10px;
      margin-right: 0;
    }
    .aside-links {
      align-items: flex-end;
    }
  }
}

@media screen and (min-width: 1402px) {
  section {
    padding-left: 160px !important;
    padding-right: 160px !important;
  }
  main .content {
    width: 95%;
  }
}
